#about {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 5%;
    padding-top: 60px;
    
}

.image {
    width: 30%;
}

.image img {
    width: 100%;
    height: auto;
}

.about-content {
    width: 70%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.text {
    padding: 60px 0;
    font-size: 1.5rem;
    line-height: 2rem;
}

.social-media-icons {
    font-size: 2rem;
    padding-top: 40px;
}

.social-media-icons a {
    text-decoration: none;
}

