html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    background: #e7e6e3;
    width: 100vw;
}

nav {
    display: flex;
    flex-direction: row;
    background: #1b1b1a;
    color: #fff;
    font-family: 'Press Start 2P','Jost', sans-serif;

    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav .logo span {
    border-left: 2px solid #7E7E7E;
    font-size: 16px;
    height: 30px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 24px;
    vertical-align: top;
    opacity: 0.7;
}

nav div {
    margin: 0 25px;
    padding: 30px 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

#menu .icon {
    display: none;
}

#jumbotron {
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding-top: 50px;
    width: 100%;
    background: #2b2a29;
    font-family: 'Press Start 2P','Montserrat', sans-serif;
    transform: skewY(-3deg);
}

#jumbotron img {
    max-height: 100%;
    width: auto;
    margin: 0;
    transform: skewY(3deg);
}

#jumbotron div {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: skewY(3deg);
}

#jumbotron div h1,h3 {
    font-size: 48px;
}

main {
    padding-top: 5%;
}

/* about */
#content {
    width: 100%;
    background: #e7e6e3;
    color: #2b2a29;
}

#about, #experience, #skills {
    font-family: 'Press Start 2P','Montserrat', sans-serif;
    padding: 2.5% 0;
    width: 80%;
    margin: 0 10% 5% 10%;
    background: white;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 22px 0 rgba(0, 0, 0, 0.19);
}

#about h1, #experience h1, #skills h1 {
    text-align: center;
    background: #2b2a29;
    color: white;
    width: 35%;
    margin: 0 32.5% 4% 32.5%;
    line-height: 2;
}

#about p, #experience p {
    font-family:'Press Start 2P', 'Jost', sans-serif;
    line-height: 2;
    margin: 0 5%;
}

#about div {
    text-align: center;
}

.game-img img {
    margin: 0 5px;
}

.game-img h6 {
    margin: 20px 0;
    font-style: italic;
}

.game-img img:hover {
    background-color: rgb(51, 51, 51, 0.2);
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    margin: 0;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    pointer-events: none;
}

#links .overlay {
    margin: 0;
}

.pop-up {
    font-size: 16px;
    color: #2b2a29;
}

.pop-up p, .pop-up .col {
    margin: 0;
}

.playerID, .pop-up, .projects {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 30px;
    
    background: #e7e6e3;
    text-align:center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

#education {
    margin: 2.5% 2.5%;
}

#education p {
    margin: 0 2.5%;
    text-align: left;
}

#education img {
    border-style: none;
    margin: auto;
    height: 500px;
}

.content-container {
    width: 90%;
    padding: 0 5%;
    padding-bottom: 5%;
}

.work-block {
    width: 45%;
    margin: 0 27.5%;
    background-color: #a7a5a5;
    padding: 10px;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 22px 0 rgba(0, 0, 0, 0.19);
}

.project-block {
    width: 40%;
    margin: 0 5%;
    background-color: #a7a5a5;
    padding: 15px;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 22px 0 rgba(0, 0, 0, 0.19);
}

.info {
    color: black;
    padding: 15px;
    align-items: center;
}

.work-block .info p:nth-child(2) {
    font-weight:bold;
    font-size: 24px;
}

.work-block .info p:nth-child(n+3) {
    font-size: 20px;
    font-style: italic;
}

.project-block .info p:nth-child(1) {
    font-weight:bold;
    font-size: 28px;
}

.project-block .info p:nth-child(n+2) {
    font-size: 20px;
    font-style: italic;
}

#experience .info p {
    font-family: 'Jost', sans-serif;
}

.buttons {
    align-items: center;
    width: 100%;
}

.buttons a {
    width: 40%;
    margin: 0 5%;
    padding: 5px;
    font-family: 'Jost', sans-serif;
    font-weight: bold !important;
    font-size: 18px !important;
    text-decoration: none;
    text-align: center;
    border: 3px solid black;
    color: black;
}

.buttons p {
    width: 100%;
    padding: 5px;
    font-family: 'Jost', sans-serif;
    font-weight: bold !important;
    font-size: 18px !important;
    text-decoration: none;
    text-align: center;
    border: 3px solid black;
    color: black;
}

.buttons a:hover, .buttons p:hover {
    background-color: black;
    color: white;
}

.projects {
    font-family: 'Jost', sans-serif;
    text-align: left;
    font-size: 24px;
}

#skills p {
    font-family: 'Jost', sans-serif;
}

#skills .content-container {
    padding-bottom: 0;
}

.headers {
    padding-bottom: 30px;
}

.headers h4 {
    padding-bottom: 10px;
}

.headers p {
    font-size: 20px;
    padding-left: 15px;
}

footer {
    padding: 1rem;
    background:#303030;
    width: 100%;
    color:white;
    margin: auto;
}

footer .row {
    justify-content: center;
}

footer h4 {
    text-align: center;
    font-family: 'Jost', sans-serif;
    padding-bottom: 10px;
}

footer a {
    margin: 0 1%;
}

.fa {
    padding: 7px;
    font-size: 30px;
    width: 20px;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    color: white;
}
  
.fa-twitter {
    color: white;
}

.fa-google {
    color: white;
}

.fa-linkedin {
    color: white;
}

@media (max-width: 1024px) {
    body {
        position: absolute;
        width: unset;
    }
}

@media (max-width: 768px) {

    nav {
        justify-content: center;
    }

    nav div {
        margin: 0;
        padding: 20px 0;
    }

    .logo span {
        display:none;
    }
    
    #menu a {
        font-size: 12px;
        display: none;
    }

    #jumbotron {
        flex-direction: column;
        height: 50%;
    }

    #jumbotron img {
        max-height: 100%;
        width: 100%;
    }

    #jumbotron div {
        align-items: center;
        padding: 10px;
    }
    
    #jumbotron div h1,h3 {
        font-size: 15px;
        color: #fff;
    }

    #education .row {
        flex-direction: column;
    }
}