#work {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    width: 100%;
}

#jobs, #projects {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 5%;
}

#projects {
    padding-top: 30px;
    align-items: flex-start;
}

.work-box {
    background-color: #CFCFB0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: center;
}

.work-box a {
    text-decoration: none;
}

.work-box a:hover {
    cursor: pointer;
    font-weight: bold;
    color: red;
}

#jobs .work-box h2{
    font-family: "Michroma", sans-serif;
    font-size: 1.3rem;
    padding-bottom: 20px;
    font-weight: bold;
}

#jobs .work-box {
    padding: 30px;
    width: 35%;
    margin: 0 5%;
}

.image-container {
    padding-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    max-height: 105px;
    object-fit: contain;
}

#projects .work-box {
    padding: 20px;
    width: 25%;
    margin: 0 2.5%;
}

#projects .work-box h1 {
    font-weight: bold;
}

#projects .work-box p {
    font-weight: normal;
    font-family: "Jost", sans-serif;
    font-size: .9rem;

    padding-top: 15px;
}

#projects .work-box .buttons {
    flex-direction: row;
    display: flex;
    width: 90%;
    margin: 0 5%;
    justify-content: center;

    padding-top: 20px;
}

#projects .work-box .buttons a {
    font-size: .75rem;

    text-decoration: none;
    color: black;
}

#projects .work-box .buttons a:first-child {
    margin-right: 10px;
}

#projects .work-box .buttons a:hover {
    font-weight: bold;
    color: red;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
   .modal-body {
    font-family: "Jost", sans-serif;
    background-color: #CFCFB0;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    padding: 30px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    line-height: 1.5rem;
  }

  .modal-body p {
      padding-bottom: 20px;
  }

  .modal-body img {
      padding-bottom: 10px;
  }

  .work-box .modal-body p, .modal-body ul li {
      font-family: "Jost", sans-serif;
      font-weight: normal;
      text-align: left;
  }

  .modal-body ul li {
      list-style-type: circle;
  }
  
  /* The Close Button */
  .modal-body .close {
    color: black;
    text-align: center;
    padding-top: 30px;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body .close:hover,
  .modal-body .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    background: none;
  }

  #mk-body {
      margin: 4% auto;
  }

  #mk-body h4 {
      text-align: left;
      font-weight: bold;
  }